.ui-block-a{
    text-align: center;
}

.ui-block-b{
    text-align: center;
}

.switchboard-content-wrapper{
	padding-left: 20%;
	padding-right: 20%;
}

#mapFrame {
    height: 87%;        // total - header
    width: 100%;
    position: absolute;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    left: 0px;
    right: 0px;
    bottom: 0px;
}