.ui-block-a{
    text-align: center;
}

.ui-block-b{
    text-align: center;
}

.switchboard-content-wrapper{
	padding-left: 20%;
	padding-right: 20%;
}

#mapFrame {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    left: 0px;
}

#site-mapView,
#mapView {
    height: 250px;
}